/* ESTILOS LANDING Y NAVBAR */

/* ESTILOS NABVAR (COMPARTIDA) */
.navBar {
    padding-top: 0px;
    justify-self: center;
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-template-rows: 1fr;
    height: 130px;
    width: 100%;
    border-bottom: solid 1px white;

}
.logoNav {
    height: 120px;
    width: 120px;

}

.titular {
    font-family: 'permanent marker';
    font-size: 50px;
    color: white;
    text-shadow: 1px 2px 3px rgba(42, 42, 42, 0.326);
    justify-self: center;
    letter-spacing: 15px;
}

.sMayus {
    font-size: 70px;
}

.cMayus {
    font-size: 70px;

}


.userIcon {
    height: 60px;
    width: 60px;
}

/* ESTILOS LANDING */
.bodyIntro {
    margin: 0px;
}

.ground1 {
    display: grid;
    background-image: url(./img/Artboard\ 2.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 700px;
}
.bannerJumbo {      
    display: grid;
    height: 500px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}

.divSpanJumbo {
    justify-self: center;
    align-self: top;
    color: azure;
    text-shadow: 1px 2px 3px rgba(42, 42, 42, 0.326);

}

.spanJumbo {

    font-family: 'indie flower';
    font-weight: 500;
    font-size: 25px;
}

.divBotonJumbo {
    display: grid;
    justify-content: center;
    justify-self: center;
    align-self: top;
    height: 40px;
    width: 400px;
    border-radius: 20px;
    background-color: #9bec52;
    color: rgb(37, 104, 163);
    box-shadow: 1px 2px 5spx rgba(42, 42, 42, 0.199);

    /* font-size: 20px; */
    border: 4px;
    font-family: 'play pen';

}

.botonJumbo {
    display: grid;
    justify-self: center;
    /* align-self: center; */
    height: 40px;
    width: 400px;
    border-radius: 20px;
    background-color: #9bec52;
    color: rgb(37, 104, 163);
    font-size: 20px;
    border: 4px;
    font-family: 'play pen';
}
.textBotonJumbo{
    text-align: center;
    align-self: center;
    font-family: 'indie flower';
    font-weight: 500;
    font-size: 25px;
}







/* ____________________________________________________________ */
/* ESTILOS PAGINA DE GRAFICOS Y TARJETAS */
.bodyGaleria{
    background-image: url(./img/backgroundGaleria.png);
}

.Tarjeta{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    justify-items: center;
    margin-top: 30px;
    
}
.tarjetaInner{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
    border: solid 1px;
    justify-items: center;
    width: 300px;
    padding: 10px;
    /* border: solid 5px rgb(243, 231, 139); */
    border: solid 5px #fcc149;
    border-radius: 15px;
}

.textosBottom{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20px 20px 20px 1fr;
    font-size: 20px;

}

img{
width: 270px;
height: 270px;
object-fit: contain;
}

/* estilos de links */
a:hover {
    cursor: pointer;
  }
  a {
    color: #111111;
    color: #ffffff;
    text-decoration: none;
    /* Para eliminar el subrayado por defecto de los enlaces */
  }



/* Estilos Graficos*/

.graficos {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
  }
  

.graficos canvas{
    max-width: 200px; 
    max-height: 200px; 
    margin-right: 100px;
    margin-left: 100px;
  }


